<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtu.hrms.mapper.EmptrainMapper">
    <resultMap id="MyEmptrain" type="com.xtu.hrms.bean.Emptrain">
        <id column="id" property="id"/>
        <result column="eid" property="eid"/>
        <result column="trainDate" property="trainDate"/>
        <result column="trainContent" property="trainContent"/>
        <result column="remark" property="remark"/>

        <association property="emp" javaType="com.xtu.hrms.bean.Emp">
            <id column="e_id" property="id"/>
            <result column="name" property="name"/>
            <result column="age" property="age"/>
            <result column="gender" property="gender"/>
            <result column="birthday" property="birthday"/>
            <result column="IDCard" property="IDCard"/>
            <result column="wedlock" property="wedlock"/>
            <result column="nationId" property="nationId"/>
            <result column="nativePlace" property="nativePlace"/>
            <result column="email" property="email"/>
            <result column="phone" property="phone"/>
            <result column="address" property="address"/>
            <result column="deptId" property="deptId"/>
            <result column="posId" property="posId"/>
            <result column="degree" property="degree"/>
            <result column="school" property="school"/>
            <result column="edate" property="edate"/>
            <result column="workState" property="workState"/>
            <result column="eworkID" property="workID"/>
            <result column="conversionTime" property="conversionTime"/>
            <result column="workAge" property="workAge"/>
            <result column="notWorkDate" property="notWorkDate"/>
        </association>
    </resultMap>

    <select id="getEmptrainById" resultType="com.xtu.hrms.bean.Emptrain">
        select * from emptrain where id=#{id}
    </select>

    <select id="getEmptrainAndEmp" resultMap="MyEmptrain">
        select t.id id, t.eid eid,t.trainDate trainDate,t.trainContent trainContent,t.remark remark,
               e.id e_id, e.name name, e.gender gender,e.birthday birthday, e.IDCard IDCard, e.wedlock wedlock,
               e.nationId nationId, e.nativePlace nativePlace, e.email email,e.phone phone, e.address address,
               e.deptId deptId, e.posId posId, e.degree degree,e.school school, e.edate edate,e.workState workState,
               e.workID eworkID,e.conversionTime conversionTime,e.workAge workAge,e.notWorkDate notWorkDate
        from emptrain t,emp e where t.eid = e.id
    </select>

    <select id="getAllEmptrains" resultType="com.xtu.hrms.bean.Emptrain">
        select * from emptrain
    </select>

    <delete id="deleteEmptrainById">
        delete from emptrain where id=#{id}
    </delete>

    <insert id="addEmptrain" parameterType="com.xtu.hrms.bean.Emptrain">
        insert into emptrain (id, eid, trainDate, trainContent, remark)
        values (#{id}, #{eid}, #{trainDate},#{trainContent}, #{remark}
               )
    </insert>

    <update id="updateEmptrain" parameterType="com.xtu.hrms.bean.Emptrain">
        update emptrain
        set trainDate = #{trainDate},
            trainContent = #{trainContent},
            remark = #{remark}
        where id = #{id} and eid = #{eid}
    </update>

    <select id="query" resultMap="MyEmptrain">
        select t.id id, t.eid eid,t.trainDate trainDate,t.trainContent trainContent,t.remark remark,
               e.id e_id, e.name name, e.gender gender,e.birthday birthday, e.IDCard IDCard, e.wedlock wedlock,
               e.nationId nationId, e.nativePlace nativePlace, e.email email,e.phone phone, e.address address,
               e.deptId deptId, e.posId posId, e.degree degree,e.school school, e.edate edate,e.workState workState,
               e.workID eworkID,e.conversionTime conversionTime,e.workAge workAge,e.notWorkDate notWorkDate
        from emptrain t,emp e where t.eid = e.id and e.name = #{name}
    </select>
</mapper>